DB_URI=mongodb://localhost:27017/your-database
PORT=8100
JWT_SECRET=your_secret_key
SLACK_ERROR_WEBHOOK=
RESERVO_TOKEN=token_proporcionado_por_reservo
RESERVO_SYNC_DAYS=2
RESERVO_WEBHOOK_URL=
LEADCONNECTOR_WEBHOOK_URL=https://services.leadconnectorhq.com/hooks/Mi698GRnau2R4Z1oR1nG/webhook-trigger/651a9c64-bab3-4b46-b70a-b2fd7267722e
LEADCONNECTOR_WEBHOOK_TOKEN=
APP_TIMEZONE=America/Guayaquil
